<ion-header >
  <ion-toolbar>
    <ion-title  class="ion-text-center">Home Page <ion-icon  name="home"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col >
      <p><b>Personal Information</b></p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Your Full Name: {{nameshow}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Your Email Address: {{userEmail}} 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Verification Status: {{verifiedemail}}
    </ion-col>
  </ion-row>
  <ion-row>
  </ion-row>
  <ion-button type="button"  routerDirection="forward"  shape="round" [routerLink]="['/createticket']" expand="full">
    New Ticket
    <ion-icon slot="start"  name="create-outline"></ion-icon>
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button type="button" size="default" routerDirection="back" fill="clear"  color="danger" (click)="authService.SignOut()" expand="block">
      LogOut
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
