<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://static.wixstatic.com/media/8b9bc5_b68af7b012b24fac8605e479ebb00686~mv2.png/v1/fit/w_842%2Ch_509%2Cal_c/file.png">
        <h1>Ticketing Mobile Endpoint</h1>
        <p>Creación de tickets desde tu celular</p>
        <ion-button (click)="next()" fill="outline" color="light">Siguiente</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://static.wixstatic.com/media/8b9bc5_b68af7b012b24fac8605e479ebb00686~mv2.png/v1/fit/w_842%2Ch_509%2Cal_c/file.png">
        <h1>Ticketing Mobile Endpoint</h1>
        <p>Visualiza el histórico de tus tickets</p>
        <ion-button (click)="start()" fill="outline" color="light">Iniciar</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>