ion-content {
  --padding-top: 50%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: url('https://w0.peakpx.com/wallpaper/990/831/HD-wallpaper-dark-blue-gradient-aurora-blue-background-colors-dark-dark-blue-gradient-plain-solid.jpg') 0 0/100% 100% no-repeat;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-title{
  font-size: 18px;
  color: black;
  
}

.full-screen {
  height: 100% !important;
  width: 100% !important;
}

.headrow{
  height: 100%;
  padding-left: 20px;
  //padding-right: 55px;
  background: #2C405A;
  color: white;
}
.centerrow{
  height: 100%;
  align-content: center;
}


span{
  color: white;
}