<ion-header>
  <ion-toolbar>
    <ion-title>Mobile Ticketing Endpoint</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span>¿Nuevo Usuario?</span>
        <ion-button
          [routerLink]="['/registration']"
          expand="block"
          color="primary"
          >Registro</ion-button>
        <span >¿Tiene Cuenta?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger"
          >Inicie Sesión</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
