ion-content {
    --padding-top: 10%;
    --padding-start: 5%;
    --padding-end: 5%;
    --background: url('https://w0.peakpx.com/wallpaper/990/831/HD-wallpaper-dark-blue-gradient-aurora-blue-background-colors-dark-dark-blue-gradient-plain-solid.jpg') 0 0/100% 100% no-repeat;
  }
  
  .input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  
  .errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  ion-title{
    font-size: 18px;
    color: black;
    
  }
  
  ion-button {
    --ion-font-family: 'Montserrat', sans-serif;
    --border-radius: 8px;
    font-size: 14px;
  }

  p{
    color: white;
  }