<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ticketing Mobile Endpoint</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Correo requerido</span>
        <span *ngIf="email.errors?.email">Correo invalido</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password es requerida</span>
        <span *ngIf="password.errors?.minlength">Password debe ser de 6 caracteres</span>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Iniciar Sesión</ion-button>
 
    <ion-button type="button" expand="block" color="tertiary">
      Sin Usuario? Registrate Aqui
    </ion-button>
  </form>
</ion-content>