<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">New User</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-avatar>
    <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png">
  </ion-avatar>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" shape="round" strong="true" (click)="signUp(email, password)" expand="block">
        Register
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
      </ion-button>
      </ion-col>
      <ion-col><ion-button
        expand="block" color="dark" shape="round"
        [routerLink]="['/home']" routerDirection="back">
        Back
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button></ion-col>
    </ion-row>
  </form>
</ion-content>
